.projectBody {
  padding: 25px;
  background-color: #4d0b3a;
  border: 0.5px solid black;
}

.project {
  background-color: blue0;
  margin: auto;
  margin-top: 50px;
  height: 300px;
  width: 50%;
}
